body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
/*=================HEADER=============*/
.header {
    background: #7652c1;
    display: flex;
    justify-content: space-between;
    padding: 1.24rem;
    align-items: center;
    flex-wrap: wrap;
}

/*=================MENU=============*/

.menu {
    display: flex;
}

.menu li {
    margin-left: 0.62rem;
}

.menu li a {
    display: block;
    padding: 0.62rem;
}

/*=================CSS FLEXBOX=============*/

